.app {
  /* centralize to screen */
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -6rem;
  margin-left: -6rem;
  /* set display properties for chile elements */
  display: flex;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  color: white;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  animation: box-shadow-alive infinite 4s linear;
}

.counter {
  font-size: 3rem;
  width: fit-content;
  height: fit-content;
  margin: auto 0;
}

span {
  font-size: 2rem;
}

@keyframes box-shadow-alive {
  from {
    box-shadow: 0 0 1rem 0.1rem rgba(255, 255, 255, 1);
  }
  to {
    box-shadow: 0 0 1rem 1rem rgba(255, 255, 255, 1);
  }
}
